//TIPOGRAFIA
$fuente-1: 'Alata', sans-serif;
$fuente-2: 'Josefin Sans', sans-serif;

//COLORES

$grisUltraOscuro: hsl(0, 0%, 41%)6d;
$grisOscuro: hsl(0, 0%, 55%);
$negro: hsl(0, 0%, 0%);
$blanco: hsl(0, 0%, 100%);

//MEDIA QUERIES

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;